.main-footer-bg {
  background-color: #262626;
  margin-top: -$height-footer;
  @include media-breakpoint-down(xs){
    margin-top: -$height-footer-mobil;
  }
  .main-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: $height-footer;
    @include media-breakpoint-down(xs){
      flex-flow: column-reverse nowrap;
      justify-content: center;
      height: $height-footer-mobil;
      text-align: center;
      &__logo {
        max-width: 150px;
        margin-top: 20px;
      }
    }
    &__link {
      display: block;
      color: #747373;
      padding: 8px 35px 0;
      transition: color 0.3s ease;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}