$color-text: #293335;
$color-title: #333;
$color-text-w: #fff;
$color-red: #d9203d;
$color-gray: #82898c;

$color-bg-black: #2a2a2a;
$color-bg-light: #eafdfb;
 
//$tablet-widths: ~"(max-width: 1230px)";/* */
//$mobil-widths: ~"(max-width: 767px)";/* */

//$desktop-widths-only: ~"(min-width: 1230px)"; /* */

$height-footer: 165px;
$height-footer-mobil: 220px;
$nav-min-height: 160px;
$nav-min-height-mobil: 50px;
$nav-min-height-scroll: 122px;
